/*
Clearfix
========

Used to clear any floated child elements, without
using width or overflow properties. Modification
of: http://nicolasgallagher.com/micro-clearfix-hack/
*/
%clearfix:after {
    content: "";
    display: table;
    clear: both;
}