/*

Preformatted
============

Block of preformatted, indented text using `pre` element.

```
<pre>
function eat_sandwich (bread) {
    while (bread--) {
        return 'nom';
    }
}
</pre>
```

*/
pre {
  border: 1px solid grey;
  margin: 10px;
  padding: 10px;
}