/* Resetting */
* { margin: 0; padding: 0; border: 0; font-size: inherit; color: black; }
html { background: #e2e5dc }
html, body { font-size: 100%; }

/* Typography */
body {
  font: 14px/25px 'Calibri', Arial, sans-serif;
  color: #000;
  padding: 2em;
}
a { text-decoration: none; }
h1, h2, h3, h4, ul, ol, dl, p, blockquote {
  margin-bottom: 15px;
}
h1, h2, h3, h4, dt {
  font-weight: bold;
}
h1 { font-size: 25px; }
h2 { font-size: 21px; }
h3 { font-size: 17px; }
h4 { font-size: 14px; }
ul, ol { margin-left: 1em; list-style: outside; }

/* Layout */
.gutter {
  width: 100%;
  max-width: 960px;
  overflow: hidden;
  margin: 0 auto;
}
#nav {
  float: left;
  width: 20%;
  min-width: 150px;
  margin-right: 25px;
}
#content {
  overflow: hidden;
  min-width: 400px;
}

/* Navigation */
#nav {
  margin-bottom: 25px;
}
#nav ul,
#nav li,
#nav a {
  display: block;
}
#nav ul {
  list-style: none;
  margin: 0 0 1em;
}
#nav h1 {
  border-bottom: 1px solid #d0d5c5;
  font-size: 14px;
  padding: 0 5px;
  margin: 20px 0 10px;
}
#nav .heading {
  margin-top: 1em;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0;
  padding: 2px 5px;
  cursor: pointer;
  position: relative;
  border-radius: 4px;
}
#nav .heading:hover {
  background: #d0d5c5;
}
#nav .heading:after {
  content: "+";
  position: absolute;
  top: 2px;
  right: 5px;
}
#nav .heading.is-open:after {
  content: "-";
}
#nav ul ul,
#nav ul .heading {
  margin-left: 20px;
}
#nav a {
  padding: 2px 5px;
  border-radius: 4px;
}
#nav a:hover,
#nav a:focus {
  background: #d0d5c5;
}
#nav ul { display: none; }
#nav ul.is-open { display: block; }

/* Sections */
.section {
  background: #fff;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}
.section .comment {
  padding: 20px 20px 5px;
}
.section .result {
  padding: 0 20px 20px;
}
.section .result iframe {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.section .markup,
.section .styles {
  border-top: 1px solid #ddd;
  background: #f7f7f7;
  position: relative;
}
.section .markup pre,
.section .styles pre {
  padding: 20px;
}
.section .markup:before,
.section .styles:before {
  display: block;
  background: #eee;
  color: #ccc;
  padding: 0 20px;
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 0 0 0 4px;
}
.section .markup:before { content: "Markup"; }
.section .styles:before { content: "Styles"; }
.section pre {
  position: relative;
	overflow-y: auto;
	max-height: 500px;
}

/*
** Code
** ----
*/
.section .comment code {
  color: #3fbead;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 13px;
}
code,
pre {
  color: black;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 13px;
  line-height: 20px;
  direction: ltr;
  text-align: left;
  white-space: pre-wrap;
  word-spacing: normal;
  margin: 0;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre {
  position:relative;
}
.token.comment {
	padding: 0;
}
.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #7D8B99;
}
.token.punctuation {
  color: #5F6364;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol {
  color: #c92c2c;
}
.token.selector,
.token.attr-name,
.token.string,
.token.function,
.token.builtin {
  color: #2f9c0a;
}
.token.operator,
.token.entity,
.token.url,
.token.variable {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}
.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
  color: #1990b8;
}
.token.regex,
.token.important {
  color: #e90;
}
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}
.token.important {
  font-weight: normal;
}
.token.entity {
  cursor: help;
}
.namespace {
  opacity: .7;
}
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
  color: #e0d7d1;
}
