html { background: #e2e5dc }
* { margin: 0; padding: 0; border: 0; font-size: inherit; }
html, body { font-size: 100%; }

body {
    font: 14px/25px Arial, sans-serif;
    padding: 90px 20px 0;
}
a { color: #000; text-decoration: none; }

.gutter {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

/*
** NAVIGATION
** ==========
*/
/*.navigation {
    box-shadow: inset 0 -1px 0 0 #2eab9a, 0 0 20px 12px #e2e5dc;
    border-bottom: 1px solid #fff;
    background: #3fbead;
    position: fixed;
    z-index: 1000;
    height: 50px;
    width: 100%;
    left: 0;
    top: 0;
}
.navigation span,
.navigation ul,
.navigation li,
.navigation a {
    display: block;
}
.navigation .group {
    float: left;
    position: relative;
}
.navigation .group > a,
.navigation .group > span {
    color: #1c655b;
    font: bold 11px/50px Arial, sans-serif;
    text-transform: uppercase;
    padding: 0 20px;
    overflow: hidden;
}
.navigation .group > span {
    cursor: default;
}
.navigation ul {
    display: none;
    position: absolute;
    z-index: 999;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    border-radius: 0;
    top: 45px;
}
.navigation ul:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.navigation ul:nth-child(2) {
    border-bottom-left-radius: 5px;
    left: 0;
}
.navigation ul:nth-child(3) {
    left: 196px;
}
.navigation ul:nth-child(4) {
    left: 392px;
}
.navigation ul:nth-child(5) {
    left: 588px;
}
.navigation ul:nth-child(6) {
    left: 784px;
}
.navigation li a {
    min-width: 12em;
    line-height: 30px;
    padding: 0 20px;
    font-size: 13px;
    border-bottom: 1px solid #eee;
    color: #3fbead;
}
.navigation li a.is-active {
    color: #1c655b;
}
.navigation li:last-child a {
    border: 0;
}
.navigation li a:hover {
    color: #1c655b;
}
.navigation .group.is-active > span,
.navigation .group.is-active > a {
    color: #fff;
}
.navigation .group:hover > span,
.navigation .group:hover > a,
.navigation .group:hover ul {
    background: white;
    color: #1c655b;
    display: block;
}*/

/*
** CONTENT SECTION
** ===============
*/
.section {
    background: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    margin-bottom: 20px;
}
.section .comment {
    padding: 20px;
}
.section .result {
    padding: 0 20px 20px;
}
.section .result iframe {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.section .source {
    border-top: 1px solid #ddd;
    background: #f7f7f7;
    padding: 20px;
}
.section .source[class*="language-"] {
	position: relative;
}
.section .source[class*="language-"]:after {
	content: attr(data-source-type);
	position: absolute;
	top: 0;
	right: 0;
	padding: 7px 7px;
	background: #3fbead;
	color: #fff;
	line-height: 1;
	text-transform: uppercase;
	display: inline-block;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-bottom-left-radius: 6px;
	border-bottom-left-radius: 6px;
	font-weight: bold;
	font-size: 11px;
}

/*
** Typography
** ----------
*/
.section .comment h1,
.section .comment p:first-child {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
}
.section .comment h2 {
    font-size: 16px;
}
.section .comment p {
    margin-bottom: 25px;
}
.section .comment :last-child {
    margin-bottom: 0;
}

.section .comment ul,
.section .comment ol {
	margin-left: 3em;
}

pre[class*="language-"] {
	overflow-y: auto;
	max-height: 500px;
}

/*
** Code
** ----
*/
.section .comment code {
    color: #3fbead;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-size: 13px;
}
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 13px;
  line-height: 20px;
  direction: ltr;
  text-align: left;
  white-space: pre-wrap;
  word-spacing: normal;
  margin: 0;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
pre[class*="language-"] {
  position:relative;
}
code[class*="language"] {
  display:block;
}
.token.comment {
	padding: 0;
}
.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #7D8B99;
}
.token.punctuation {
  color: #5F6364;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol {
  color: #c92c2c;
}
.token.selector,
.token.attr-name,
.token.string,
.token.function,
.token.builtin {
  color: #2f9c0a;
}
.token.operator,
.token.entity,
.token.url,
.token.variable {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}
.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
  color: #1990b8;
}
.token.regex,
.token.important {
  color: #e90;
}
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}
.token.important {
  font-weight: normal;
}
.token.entity {
  cursor: help;
}
.namespace {
  opacity: .7;
}
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
  color: #e0d7d1;
}
