/*
Navigation
==========
Tight example.
    <span class="btn">Test</span>
*/

/*
 
Navigation
==========

Spacious example.

    <span class="btn">Test</span>
 
*/

/*
 
 Navigation
 ==========
 
 One-space indented example.

     <span class="btn">Test</span>
 
*/

/*
 * Navigation
 * ==========
 * 
 * Sass asterisk-delimited indented example.
 *
 *     <span class="btn">Test</span>
 *
 */

/*
 *Navigation
 *==========
 *Sass tight asterisk-delimited indented example.
 *    <span class="btn">Test</span>
 */

.nav {
    &, a { display: block }
    &, li {
        margin: 0;
        padding: 0;
        list-style: none outside;
        border-color: lightGrey;
        border-style: solid;
        border-width: 0;
    }
    a { text-decoration: none; color: #ff3333 }
    a:hover { text-decoration: underline; }
    a.is-active { color: inherit; }
}
/*

Navigation (Vertical)
---------------------

    <ul class="nav-vertical">
        <li><a href="/" class="is-active">One</a></li> 
        <li><a href="/">Two</a></li> 
        <li><a href="/">Three</a></li> 
    </ul>

*/
.nav-vertical {
    @extend .nav;
    li {
        display: block;
        border-bottom-width: 1px;
        &:last-child { border-bottom-width: 0 }
    }
}
/*

Navigation (Horizontal)
---------------------

    <ul class="nav-horizontal">
        <li><a href="/" class="is-active">One</a></li> 
        <li><a href="/">Two</a></li> 
        <li><a href="/">Three</a></li> 
    </ul>
    
*/
.nav-horizontal {
    @extend .nav;
    font-size: 0;
    li {
        font-size: 14px;
        display: inline-block;
        border-right-width: 1px;
        &:last-child { border-right: 0 }
        a { padding: 0 0.5em }
    }
}

/*

Navigation (Button Stack)
-------------------------

A navigation block which combines a Horizontal nav with the button pattern partial.

    <ul class="nav-buttons">
        <li><a href="/" class="is-active">One</a></li> 
        <li><a href="/">Two</a></li> 
        <li><a href="/">Three</a></li> 
    </ul>

*/
.nav-buttons {
    @extend .nav-horizontal;
    font-size: inherit;
    li { border-width: 0 }
    a { @extend .btn }
    a.is-active { @extend .btn-action }
}